<div class="container" style="text-align: center">
	Powered by <a href="http://ghost.org" target="_blank">Ghost</a>. 
	Theme adapted from <a href="https://github.com/zwbetz-gh/vanilla-bootstrap-hugo-theme" target="_blank">Vanilla</a>
	<br>
	{{@site.description}}
</div>